.definition,.definition>.thm-sublabel{
    font-style:normal
}
.conjecture>.thm-label,.corollary>.thm-label,.lemma>.thm-label,.theorem>.thm-label,.warning>.thm-label,.proposition>.thm-label{
    font-weight:700
}
.conjecture,.corollary,.definition,.figure,.lemma,.proposition,.remark,.theorem,.warning{
    padding:10px;
    margin:10px
}
.definition{
    border:1px solid;
    border-radius:5px
}
,.definition>.thm-label{
    font-weight:700;
    font-style:normal
}
.proof{
    margin-bottom:10px;
}
.proposition{
    border:1px dashed;
    font-style:italic
}
.proposition>.thm-label,.proposition>.thm-sublabel,.lemma>.thm-label,.lemma>.thm-sublabel,.theorem>.thm-label,.theorem>.thm-sublabel{
    font-style:normal
}
.lemma{
    border:1px solid;
    font-style:italic
}
.theorem{
    border:5px double;
    font-style:italic
}
.conjecture{
    border:5px groove
}
.corollary{
    border:1px dotted;
    font-style:italic
}
.corollary>.thm-label,.corollary>.thm-sublabel{
    font-style:normal
}
.proof>.thm-label,.remark>.thm-label{
    font-style:italic
}
.remark{
    border:5px inset
}
.warning{
    border:5px outset red
}
.figure{
    font-size:10pt;
    text-align:center
}
.figure>.instagram-media{
    border:none!important;
    display:inline-flex!important
}
.figure>.fig-desc{
    display:inline-block;
    margin-bottom:2%;
    width:60%;
    text-align:left
}
.figure>.fig-label{
    font-variant:small-caps
}
.enumerate>li>.enumerate>li>.enumerate{
    list-style-type:lower-roman
}
.enumerate> .labeled{
    list-style-type:none;
	position: relative;
	right: 16px;
}
.bib-label{
    text-align:center;
    font-weight:600
}
