/* Theorem Environments */

.definition{
	border: solid 1px;
	border-radius: 5px;
	padding: 1%;
	font-style: normal;
}

.definition > .thm-label {
	font-weight:bold;
	font-style: normal;
}
.definition > .thm-sublabel{
	font-style: normal;
}

.proposition{
	border: dashed 1px;
	padding: 1%;
	font-style: italic;
}

.proposition > .thm-label {
	font-weight:bold;
	font-style: normal;
}
.proposition > .thm-sublabel{
	font-style: normal;
}

.lemma{
	border: solid 1px;
	padding: 1%;
	font-style: italic;
}

.lemma > .thm-label {
	font-weight:bold;
	font-style: normal;
}
.lemma > .thm-sublabel{
	font-style: normal;
}

.theorem{
	border: double 5px;
	padding: 1%;
	font-style: italic;
}

.theorem > .thm-label {
	font-weight:bold;
	font-style: normal;
}
.theorem > .thm-sublabel{
	font-style: normal;
}

.conjecture{
	border: groove 5px;
	padding: 1%;
}

.conjecture > .thm-label {
	font-weight:bold;
}

.corollary{
	border: dotted 1px;
	padding: 1%;
	font-style: italic;
}

.corollary > .thm-label {
	font-weight:bold;
	font-style: normal;
}
.corollary > .thm-sublabel{
	font-style: normal;
}

.remark{
	border: inset 5px;
	padding: 1%;
}

.remark > .thm-label {
	font-style: italic;
}

.warning{
	border: outset 5px red;
	padding: 1%;
}

.warning > .thm-label {
	font-weight: bold;
}

.proof > .thm-label {
	font-style: italic;
}

/* Figure Environments */

.figure{
	font-size:10pt;
	text-align:center;
}
.figure > .instagram-media{
	border: none !important;
	display: inline-flex!important;
}
.figure > .fig-desc {
	display: inline-block;
	margin-bottom: 2%;
	width: 60%;
	text-align:left;
}
.figure > .fig-desc > .fig-label {
	font-variant: small-caps;
}

/* Enumerate Environments */

.ecomponents > li > .ecomponents {
	list-style-type: lower-alpha;
}
.ecomponents > li > .ecomponents > li > .ecomponents {
	list-style-type: lower-roman;
}
.scomponents > li > .scomponents {
	list-style-type: lower-alpha;
}
.scomponents > li > .scomponents > li > .scomponents {
	list-style-type: lower-roman;
}
.enumerate > li > .scomponents {
	list-style-type: lower-alpha;
}
.enumerate > li > .enumerate > li > .enumerate {
	list-style-type: lower-roman;
}